<!DOCTYPE html>
<html lang="en">
    <%- include('./include/head.ejs') %>
<body>
    
<div class="container">
    <%- include('./include/header.ejs')%>
    
    <main>
        <div class="jumbotron">
            <h2>Ingresa tus datos:</h2>
            <form method="POST" action="/">

                <div class="form-group">
                    <label for="title">Name</label>
                    <input type="text" name="title" id="title" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="precio">Price</label>
                    <input type="number" name="precio" id="price" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="thumbnail">Img</label>
                    <input type="text" name="thumbnail" id="thumbnail" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </main>
   
</div>
</body>
</html>
            